@import "tailwindcss";

:root {
  --background: #E0E0D0;
  --background-dark: #B3B3A6;
  --background-light: #F3F3EC;
  --foreground: #653935;
  --accent-light: #F6CEA4;
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-foreground: var(--foreground);
  --color-background-light: var(--background-light);
  --color-accent-light: var(--accent-light);
  --font-header: var(--font-playfair);
  --font-paragraph: var(--font-roboto);
  --font-display: var(--font-playfair-display)
}

body {
  background: var(--background);
  color: var(--foreground);
}
